/*main*/

body {
  background: #1abc9c;
  color: #222;
  font-family: "Roboto", Arial, sans-serif;
  margin: 0;
}

.wrapper {
  display: none;
}

h2 {
  text-align: center;
  color: white;
  font-family: "Roboto", "Comic Sans MS", sans-serif;
}

h3 {
  text-align: center;
  color: white;
  font-family: "Roboto", "Comic Sans MS", sans-serif;
}

a {
  text-decoration: none;
  color: teal;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}

a:hover {
  color: grey;
}

footer {
  text-align: center;
}

/*home*/

#container {
  width: 50%;
  margin: auto;
  margin-top: 100px;
}

#container p {
  font-size: 20px;
}

.buttons {
  text-align: center;
  margin: 1em;
  font-size: 20px;
}
.mainbutton {
  background-color: #1abc9c;
  color: white;
  border: 2px solid white;
  padding: .75em 3em;
  margin: .5em;
  display: inline-block;
  text-decoration: none;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}

.mainbutton:hover {
  background: teal;
  color: white;
}

/*keyboard*/

#keyboard {
  margin-left: 1em;
  margin-right: 1em;
  justify-content: center;
  display: flex;
  position: fixed;
  bottom: -5px;
}

#corgi {
  flex:0.8333;
  align-self: flex-end;
}

#pug {
  flex:0.6847;
  align-self: flex-end;
}

#husky {
  flex:0.8845;
  align-self: flex-end;
}

#shiba {
  flex:0.7429;
  align-self: flex-end;
}

#pom {
  flex:0.7620;
  align-self: flex-end;
}

#golden {
  flex:0.8845;
  align-self: flex-end;
}

#chihuahua {
  flex:0.4588;
  align-self: flex-end;
}

.keyboard img {
  max-width: 100%;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
}

.keyboard:hover img {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}

.keyboard:active img {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.attribution {
  font-size: 12px;
  max-width: 200px;
  margin: auto;
  display: none;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
}

#keyatt {
  font-size: 12px;
}

/*media queries*/

@media (max-width: 1400px) {
  #container {
    width: 70%;
    margin-top: 50px;
  }
}

@media (max-width: 1000px) {
  #keyboard {
    display: none;
  }
}

@media (max-width: 600px) {
  #container p, h2 {
    padding: 0 1em;
  }
  #container {
    margin: 0;
    margin-top: 50px;
    width: 100%;
  }
  .mainbutton {
    display: block;
  }

}
