body {
  background: #1abc9c;
  color: #222;
  font-family: "Roboto", Arial, sans-serif;
  margin: 0;
}

.wrapper {
  display: none;
}

h2 {
  text-align: center;
  color: white;
  font-family: "Roboto", "Comic Sans MS", sans-serif;
}

a {
  text-decoration: none;
  color: teal;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}

a:hover {
  color: grey;
}

footer {
  text-align: center;
}

#container p {
  font-size: 20px;
}

#header {
  background: #1abc9c;
  display: block;
  top: 0;
  width: 100%;
  position: fixed;
  height: 45px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#header a{
  color: white;
}

#header a:hover{
  color: teal;
}

nav {
  overflow: hidden;
  float: right;
  margin-top: -5px;
}

nav ul li{
  display: inline-block;
  margin-right: 15px;
}

#navicon {
  float: right;
  font-size: 16pt;
  color: white;
  background: none;
  border: none;
  display: none;
  margin-top: 10px;
  margin-right: 4px;
}

#logo {
  font-size: 24px;
  color: white;
  float: left;
  margin-left: 10px;
  margin-top: -15px;
  padding: 0;
}

#container {
  width: 50%;
  margin: auto;
  margin-top: 50px;
}

table {
  display: block;
  margin: auto;
  padding: 1em;
  background: white;
  width: 80%;
}

td {
  padding: 1em;
}

@media (max-width: 1400px) {
  #container {
    width: 70%;
  }
}

@media (max-width: 600px) {
  nav {
    background: white;
    margin: 0;
    width: 100%;
    margin-top: -15px;
    display: none;
  }
  nav ul li {
    width: 100%;
    margin-left: -19px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  nav ul li:hover {
    background: lightgrey;
  }

  li a {
    color: #222 !important;
    padding: 10px;
    display: block;
  }

  li a:hover {
    color: #161616;
  }

  #container p {
    padding: 0 1em;
  }

  #navicon {
    display: block;
  }

  #container {
    margin: 0;
    margin-top: 50px;
    width: 100%;
  }

  table {
    width: auto;
  }
}

@media (min-width: 601px) {
  nav {
    display: block !important;
  }
}
