body {
  width: 100%;
  background: #1abc9c;
  font-family: sans-serif;
  color: #222;
  font-family: "Roboto", Arial, sans-serif;
  margin: 0;
}

.wrapper {
  display: none;
}

.container {
  width: 75%;
  margin: auto;
  margin-top: 50px;
}

h2 {
  text-align: center;
  color: white;
  font-family: "Roboto", "Comic Sans MS", sans-serif;
}

a {
  text-decoration: none;
  color: teal;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}

a:hover {
  color: grey;
}

footer {
  text-align: center;
}
